body {
    background-color: #0E2F44;
}

.wrapper {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    min-width: 1200px;
    max-width: 2000px;
    font-family: 'Prompt', sans-serif;
    color: black;
}


.header {
    text-align: center;
}

.listcolor {
    color: #0E2F44;
}